@use "../variables" as *;

.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba($black, 0.7);

  &__close-btn {
    position: absolute;
    color: $white;
    top: 12px;
    right: 12px;
    font-size: 36px;
  }

  &--active {
    display: flex;
  }
}
